#app {
	width: 100%;
	height: 100vh;
	overflow-x: hidden !important;
	overflow-y: auto;
}

html {
	scrollbar-color: transparent !important;
	scrollbar-width: none;
	font-size: 16px !important;
}

input[type='text'] {
	border-radius: 0.5em !important;
}
button {
	border-radius: 0.5em !important;
}

.card {
	color: var(--card-secondary-color) !important;
	font-size: 16px !important;
	background-color: var(--card-bg-color) !important;
	color: var(--font-color) !important;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--font-color) !important;
	}
}
body {
	font-size: 16px !important;
	background-color: var(--bg-color);
	color: var(--font-color);
}

h1 {
	color: var(--secondary-color);
}

a {
	color: var(--primary-color);
}

svg {
	border: 2px dotted red;
	margin: auto;
	display: flex;
	justify-content: center;
	align-self: center;
}

.edit-network-card {
	border-radius: 0.5em;
}

/* D3 Nodes */

.links line {
	stroke: var(--link-stroke-color);
	stroke-opacity: 0.6;
}
.links:hover line {
	stroke-width: 3px;
	stroke-opacity: 0.6;
}
.nodes circle {
	stroke: var(--node-stroke-color);
	stroke-opacity: 0.5;
	stroke-width: 5px;
	fill: var(--node-color);
}

text {
	fill: var(--font-color);
}
/* D3 Nodes */

// Set your colors
:root {
	--primary-color: #302ae6;
	--secondary-color: #536390;
	--font-color: #424242;
	--bg-color: #fff;
	--heading-color: #292922;
	--node-color: gray;
	--node-stroke-color: rgba(0, 0, 0, 0.301);
	--link-stroke-color: black;
	/* Themes */
	[data-theme='dark'] {
		--primary-color: #b8b8cc;
		--secondary-color: #818cab;
		--font-color: #e1e1ff;
		--bg-color: #161625;
		--heading-color: #818cab;
		--card-secondary-color: #fff;
		--card-bg-color: #1f2424;
		--node-color: #b8b8b8;
		--node-stroke-color: rgba(255, 255, 255);
		--link-stroke-color: whitesmoke;
	}
}

// Import Bulma and Buefy styles
